@keyframes newAdviceQuip {
  0% {
    background-color: #eeeeee;
  }
  50% {
    background-color: #d65a31;
  }
  100% {
    background-color: #eeeeee;
  }
}
@keyframes heyListen {
  0% {
    background-color: #393e46;
  }
  50% {
    background-color: #eeeeee;
  }
  100% {
    background-color: #393e46;
  }
}
body {
  font-family: "Verdana";
}

.iconButton:disabled {
  filter: grayscale(75%);
  cursor: not-allowed;
}

.iconButton {
  cursor: pointer;
  height: 100px;
  width: 100px;
  padding-right: 5px;
  background-size: cover;
}

#deckbuildButton {
  background-image: url("https://img.icons8.com/clouds/100/000000/blueprint-with-pen.png");
  background-color: purple;
}

#shopButton {
  background-image: url("https://res.cloudinary.com/metaverse/image/upload/v1541010546/Avatars/Higgsy/side_higgsLaugh.png");
  background-color: red;
}

#shopButton:hover {
  background-image: url("https://res.cloudinary.com/metaverse/image/upload/v1541010541/Avatars/Higgsy/side_higgsSnide.png");
}

#coinFlipButton {
  background-color: yellow;
  background-image: url("https://img.icons8.com/cotton/256/000000/coin-in-hand.png");
}

#newGameButton {
  background-image: url("https://img.icons8.com/clouds/100/000000/ace-of-hearts--v1.png");
  background-color: blue;
}

#settingsButton {
  background-color: grey;
}

#shopBanner {
  height: 15vh;
  background-color: #222831;
}
#shopBanner #bannerImage {
  background-image: url("https://res.cloudinary.com/metaverse/image/upload/v1541010545/Avatars/Higgsy/side_higgsMad.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: 4px groove #393e46;
}
#shopBanner #bannerTitle {
  font-size: 3.5em;
  overflow: hidden;
  font-family: "Monotype Corsiva";
  color: #d65a31;
}
#shopBanner #bannerTagline {
  font-family: "Lucida Handwriting";
  color: #d65a31;
}

#higgsShop {
  background-image: url("../images/backgrounds/witch.png");
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 10;
}
#higgsShop #shopPortrait {
  position: absolute;
  bottom: 400px;
  right: 50px;
  height: 50vh;
  width: 35vh;
  object-fit: fill;
}
#higgsShop #higgsTextBox {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 400px;
  width: 100%;
  border-style: solid;
  border-width: 13px 15px 14px 13px;
  font-size: 2.5em;
  padding: 3px;
  color: #eeeeee;
  cursor: pointer;
  background-color: #d65a31;
  -moz-border-image: url(https://res.cloudinary.com/metaverse/image/upload/v1567881019/UI/card_back_red.png) 11 13 9 11;
  -webkit-border-image: url(https://res.cloudinary.com/metaverse/image/upload/v1567881019/UI/card_back_red.png) 11 13 9 11;
  -o-border-image: url(https://res.cloudinary.com/metaverse/image/upload/v1567881019/UI/card_back_red.png) 11 13 9 11;
  border-image: url(https://res.cloudinary.com/metaverse/image/upload/v1567881019/UI/card_back_red.png) 11 13 9 11;
}
#higgsShop #higgsTextBox #higgsNamePlate {
  position: absolute;
  bottom: calc(400px - 25px);
  width: 400px;
  height: 100px;
  clip-path: polygon(50% 15%, 100% 0, 100% 100%, 0 100%, 0 0);
  background-color: #d65a31;
  z-index: -1;
  transition: left 1s;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 1.5em;
  padding-bottom: 10px;
  cursor: pointer;
}
#higgsShop #higgsTextBox .dialogueChunk {
  position: absolute;
  height: 100%;
  width: 100%;
  cursor: pointer;
}
#higgsShop #higgsTextBox .dialogueChunk .dialogueTracker {
  position: absolute;
  bottom: 5%;
  right: 2%;
}
#higgsShop #playerResponseBox {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 400px;
  width: 100%;
  background-color: #222831;
  border-style: solid;
  border-width: 11px 13px 9px 11px;
  -moz-border-image: url(https://res.cloudinary.com/metaverse/image/upload/v1567881015/UI/card_back_black.png) 13 15 14 13;
  -webkit-border-image: url(https://res.cloudinary.com/metaverse/image/upload/v1567881015/UI/card_back_black.png) 13 15 14 13;
  -o-border-image: url(https://res.cloudinary.com/metaverse/image/upload/v1567881015/UI/card_back_black.png) 13 15 14 13;
  border-image: url(https://res.cloudinary.com/metaverse/image/upload/v1567881015/UI/card_back_black.png) 13 15 14 13;
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
}
#higgsShop #playerResponseBox #playerNamePlate {
  position: absolute;
  bottom: calc(400px - 25px);
  width: 400px;
  height: 100px;
  clip-path: polygon(50% 15%, 100% 0, 100% 100%, 0 100%, 0 0);
  background-color: #393e46;
  z-index: -1;
  transition: left 1s;
  display: flex;
  align-items: flex-end;
  color: white;
  justify-content: center;
  padding-bottom: 25px;
  font-size: 1.5em;
  cursor: pointer;
}
#higgsShop #playerResponseBox .playerResponseButton {
  height: calc(400px / 3);
  width: 20%;
  cursor: pointer;
}
#higgsShop .hiddenText {
  height: 0 !important;
  transition: all 0.4s linear;
}
#higgsShop .activeTag {
  left: 0;
}
#higgsShop .inactiveTag {
  left: 405px;
}

#gameRow {
  max-height: 100vh;
  min-height: 1500px;
  min-width: 2000px;
  max-width: 100vw;
  background-color: #097327;
  background-image: url("https://fc00.deviantart.net/fs70/i/2012/309/f/9/tavern_bg_by_mrainbowwj-d5k1ezg.jpg");
  background-size: cover;
  position: relative;
  overflow: auto;
}
#gameRow #canvasContainer {
  position: relative;
  cursor: pointer;
  background: black;
  background: linear-gradient(180deg, black 25%, white 75%);
}

#handsContainer {
  position: absolute;
  left: calc(250px * 6.5 + 100px);
  height: calc(250px * 4);
  width: 750px;
  background-color: black;
  top: 250px;
}
#handsContainer #playerZones {
  width: 100%;
  height: 25%;
}
#handsContainer #playerZones #playerDiscard {
  background-image: url("https://img.icons8.com/dusk/96/000000/poison.png"), url("https://res.cloudinary.com/metaverse/image/upload/v1567881015/UI/card_back_black.png");
  background-size: contain;
  background-repeat: no-repeat;
}
#handsContainer #playerZones #playerDeck {
  background-image: url("https://res.cloudinary.com/metaverse/image/upload/v1567881015/UI/card_back_black.png");
  background-size: cover;
}
#handsContainer #playerZones #playerCapture {
  background-image: url("https://cdn.pixabay.com/photo/2016/01/26/03/11/cage-1161869_960_720.png"), url("https://res.cloudinary.com/metaverse/image/upload/v1567881017/UI/card_back_purple.png");
  background-size: cover;
}
#handsContainer #boardButtonZone {
  width: 100%;
  height: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#handsContainer #enemyZones {
  width: 100%;
  height: 25%;
}
#handsContainer #enemyZones #enemyDiscard {
  background-image: url("https://img.icons8.com/dusk/96/000000/poison.png"), url("https://res.cloudinary.com/metaverse/image/upload/v1567881017/UI/card_back_purple.png");
  background-size: contain;
  background-repeat: no-repeat;
}
#handsContainer #enemyZones #enemyDeck {
  background-image: url("https://res.cloudinary.com/metaverse/image/upload/v1567881017/UI/card_back_purple.png");
  background-size: cover;
}
#handsContainer #enemyZones #enemyCapture {
  background-image: url("https://cdn.pixabay.com/photo/2016/01/26/03/11/cage-1161869_960_720.png"), url("https://res.cloudinary.com/metaverse/image/upload/v1567881015/UI/card_back_black.png");
  background-size: cover;
  background-repeat: no-repeat;
}

#discoverLayer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 5;
}
#discoverLayer .discoverCard {
  height: 550px;
  width: 450px;
  object-fit: fill;
  cursor: pointer;
}

#deckbuilderScreen {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: black;
  z-index: 10;
}
#deckbuilderScreen #deckTitle {
  height: 5%;
  font-size: 2em;
  color: white;
}
#deckbuilderScreen #deckZone {
  height: 35%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#deckbuilderScreen #collectTitle {
  height: 5%;
  font-size: 2em;
  color: white;
}
#deckbuilderScreen #collectionZone {
  border-top: 20px solid grey;
  height: 55%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#playerHandRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
  transition: height 1.5s;
  transition-timing-function: ease-out;
  overflow: auto;
  background-image: url("https://res.cloudinary.com/metaverse/image/upload/v1533578530/Backgrounds/ep_naturalblack.png");
  background-size: cover;
}

#discardZone {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
}
#discardZone .discardedCard {
  height: 550px;
  width: 450px;
  object-fit: fill;
}

#playerButtonsRow {
  width: 100%;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  align-items: center;
  align-content: center;
  justify-content: center;
}

#cardDisplay {
  position: absolute;
  top: 10px;
  left: 10px;
}
#cardDisplay #hoveredCard {
  max-height: 650px;
  max-width: 550px;
  object-fit: fill;
}

#battleLog {
  position: absolute;
  left: 10px;
  top: 620px;
  height: 650px;
  width: calc(250px * 2);
  border: 5px solid black;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.6);
  overflow: auto;
}
#battleLog .adviceQuip {
  width: 100%;
  height: 100px;
  background-color: white;
  border: 2px solid grey;
  flex-shrink: 0;
  position: relative;
}
#battleLog .adviceQuip .advicePortrait {
  background-size: 100% 100%;
  border: 2px solid grey;
  background-color: #222831;
  position: absolute;
  left: 0;
  width: 20%;
  height: 100%;
}
#battleLog .adviceQuip .adviceText {
  background-color: #eeeeee;
  position: absolute;
  right: 0;
  width: 80%;
  height: 100%;
  animation-name: newAdviceQuip;
  animation-duration: 2s;
}

#captureZone {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
}
#captureZone .captiveCard {
  height: 550px;
  width: 450px;
  object-fit: fill;
}

.waitingTab {
  animation-name: heyListen;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.hidden {
  height: 0 !important;
  width: 0 !important;
  overflow: hidden !important;
}

.phasedOut {
  opacity: 0 !important;
  transition: opacity 1s;
}

.cardZone {
  cursor: pointer;
  background-color: grey;
  height: 100%;
  width: 100%;
}

.closeButton {
  opacity: 0;
  position: absolute;
  top: 1px;
  right: 1px;
  height: 150px;
  width: 150px;
  background-color: grey;
  background-image: url("https://res.cloudinary.com/metaverse/image/upload/v1548289539/icons8-delete-48.png");
  background-size: contain;
  background-repeat: no-repeat;
  border: 1px solid black;
  transition: opacity 0.5s;
  z-index: 5;
}

.closableDiv:hover .closeButton {
  opacity: 1;
}

.closeButton:hover {
  cursor: pointer;
}

#volumeAdjustScreen {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 5;
}
#volumeAdjustScreen #volumeSettings {
  position: absolute;
  top: 20vh;
  height: 60vh;
  left: 30vw;
  width: 40vw;
  background-color: white;
  border: 3px solid black;
}
#volumeAdjustScreen #volumeSettings #volumeHeader {
  height: 10%;
  border: 3px solid pink;
}
#volumeAdjustScreen #volumeSettings .audioRow {
  height: 30%;
  border: 3px solid brown;
}

/* The slider itself */
.slider {
  -webkit-appearance: none;
  /* Override default CSS styles */
  appearance: none;
  width: 100%;
  /* Full-width */
  height: 25px;
  /* Specified height */
  background: #d3d3d3;
  /* Grey background */
  outline: none;
  /* Remove outline */
  opacity: 0.7;
  /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s;
  /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1;
  /* Fully shown on mouse-over */
}

.cardInHand {
  height: 450px;
  width: 350px;
  object-fit: fill;
  cursor: grab;
}

.cardInHand:active {
  cursor: grabbing;
}

.hoverFlow {
  overflow: hidden;
}

.hoverFlow:hover {
  overflow: auto;
}

.hFlip {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

/*# sourceMappingURL=sample.css.map */
