// $deepPurple: #292531;
// $deepBlue:#445D7D;
// $softBlue:#7F95AD;
// $softOrange:#C1A782;
// $deepOrange:#C7814A;

$darkBack:#222831;
$greyBack:#393e46;
$flairColor:#d65a31;
$lightBack:#eeeeee;

$storeFont:"Monotype Corsiva";
$talkFont:"Lucida Handwriting";
$baseFont:"Verdana";

$quipTextBG:#eeeeee;

$cellSize:250px;

$textboxHeight:400px;

$shopBG:"../images/backgrounds/witch.png";


//

@keyframes newAdviceQuip{
  0%   {background-color: $lightBack};
  // 25%  {background-color: #d65a31};
  50%  {background-color: $flairColor;}
  100% {background-color: $lightBack;}
}

@keyframes heyListen{
  0%   {background-color: $greyBack};
  // 25%  {background-color: #d65a31};
  50%  {background-color: $lightBack;}
  100% {background-color: $greyBack;}
}


//

body{
  font-family: $baseFont;
}

#onlineSegment{
  height:20vh;
  width:100%;
  display:flex;
  flex-flow: row;
  justify-content: center;
  padding-bottom:3rem;

  #settingsZone{
    width: 20%;
    height:100%;
    border: 2px solid black;
    margin-top: 2.1rem;
    padding-left:2%;
    padding-top:2%;
    position:relative;
    .SZToggle{
      width:1.5rem;
      height:1.5rem;
      background-color:black;
      position:absolute;
      top:-1.5rem;
      right:0;

      &:hover{
        background-color:white;
        cursor:pointer;
      }
    }
  }
  #chatZone{
    width: 70%;
    height:100%;
    h3{
      border: 2px solid;
      margin-bottom: 0;
      width: 30%;
    }
    #chatBox{
      overflow:auto;
      display:flex;
      width:100%;
      height:95%;
      border:2px solid black;
      border-radius:1%;
      flex-direction:column;
      .chatMessage{
        width:100%;

      }
    }
  }
}

.iconButton:disabled{
  filter:grayscale(75%);
  cursor:not-allowed;
}
.iconButton{
  cursor:pointer;
  height:100px;
  width:100px;
  padding-right:5px;
  background-size:cover;
}

#deckbuildButton{

  background-image:url('https://img.icons8.com/clouds/100/000000/blueprint-with-pen.png');

  background-color:purple;
}
#shopButton{

  background-image:url('https://res.cloudinary.com/metaverse/image/upload/v1541010546/Avatars/Higgsy/side_higgsLaugh.png');

  background-color:red;
}
#shopButton:hover{
  background-image:url('https://res.cloudinary.com/metaverse/image/upload/v1541010541/Avatars/Higgsy/side_higgsSnide.png');
}
#coinFlipButton{

  background-color:yellow;
  background-image:url('https://img.icons8.com/cotton/256/000000/coin-in-hand.png');
}
#newGameButton{

  background-image:url('https://img.icons8.com/clouds/100/000000/ace-of-hearts--v1.png');

  background-color:blue;
}
#settingsButton{
  background-color:grey;
}

#shopBanner{
  height:15vh;
  background-color:$darkBack;
  #bannerImage{
    background-image:url("https://res.cloudinary.com/metaverse/image/upload/v1541010545/Avatars/Higgsy/side_higgsMad.png");
    background-size:100%  100%;
    background-repeat:no-repeat;
    border-radius:50%;
    border:4px groove $greyBack;

  }
  #bannerTitle{
  font-size:3.5em;
  overflow:hidden;
  font-family:$storeFont;
  color:$flairColor;
  }
  #bannerTagline{
    font-family:$talkFont;
    color:$flairColor;
  }
}

#higgsShop{
  background-image:url($shopBG);
  background-size:cover;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  overflow:hidden;
  z-index:10;

  #shopPortrait{
    // background-size:contain;
    // background-image:url("https://res.cloudinary.com/metaverse/image/upload/v1568150577/Avatars/Higgsy/MC_Smile_eyes_opened.png");
    position:absolute;
    bottom:$textboxHeight;
    right:50px;
    // height:500px;
    // width:300px;
    height:50vh;
    width:35vh;
    object-fit: fill;
  }

  #higgsTextBox{
    position:absolute;
    left:0;
    bottom:0;
    height:$textboxHeight;
    width:100%;
    border-style: solid;
    border-width: 13px 15px 14px 13px;
    font-size:2.5em;
    padding:3px;
    color:$lightBack;
    cursor:pointer;



    background-color:$flairColor;
    -moz-border-image: url(https://res.cloudinary.com/metaverse/image/upload/v1567881019/UI/card_back_red.png) 11 13 9 11;
    -webkit-border-image: url(https://res.cloudinary.com/metaverse/image/upload/v1567881019/UI/card_back_red.png) 11 13 9 11;
    -o-border-image: url(https://res.cloudinary.com/metaverse/image/upload/v1567881019/UI/card_back_red.png) 11 13 9 11;
    border-image: url(https://res.cloudinary.com/metaverse/image/upload/v1567881019/UI/card_back_red.png) 11 13 9 11;
    // transition: width 1s;

    #higgsNamePlate{
      position:absolute;
      // left:0;
      bottom: calc(#{$textboxHeight} - 25px);
      width:400px;
      height:100px;
      clip-path: polygon(50% 15%, 100% 0, 100% 100%, 0 100%, 0 0);
      background-color:$flairColor;

      z-index:-1;
      transition: left 1s;
      display: flex;
      align-items:flex-end;
      justify-content:center;
      font-size:1.5em;
      padding-bottom:10px;
      cursor:pointer;
    }

    .dialogueChunk{
      position:absolute;
      height:100%;
      width:100%;
      cursor:pointer;
      .dialogueTracker{
        position:absolute;
        bottom:5%;
        right:2%;
      }
    }
  }
  #playerResponseBox{
    position:absolute;
    left:0;
    bottom:0;
    height:$textboxHeight;
    width:100%;
    background-color:$darkBack;
    border-style: solid;
    border-width: 11px 13px 9px 11px;
    -moz-border-image: url(https://res.cloudinary.com/metaverse/image/upload/v1567881015/UI/card_back_black.png) 13 15 14 13;
    -webkit-border-image: url(https://res.cloudinary.com/metaverse/image/upload/v1567881015/UI/card_back_black.png) 13 15 14 13;
    -o-border-image: url(https://res.cloudinary.com/metaverse/image/upload/v1567881015/UI/card_back_black.png) 13 15 14 13;
    border-image: url(https://res.cloudinary.com/metaverse/image/upload/v1567881015/UI/card_back_black.png) 13 15 14 13;
    display:flex;
    flex-wrap:wrap;
    cursor:pointer;

    #playerNamePlate{
      position:absolute;
      bottom: calc(#{$textboxHeight} - 25px);
      width:400px;
      height:100px;
      clip-path: polygon(50% 15%, 100% 0, 100% 100%, 0 100%, 0 0);
      background-color:$greyBack;
      z-index:-1;
      transition: left 1s;
      display: flex;
      align-items:flex-end;
      color:white;
      justify-content:center;
      padding-bottom:25px;
      font-size:1.5em;
      cursor:pointer;
    }

    .playerResponseButton{
      height:calc(#{$textboxHeight} / 3);
      width:20%;
      cursor:pointer;

    }
  }

  .hiddenText{
    height:0 !important;
    transition: all 0.4s linear;
  }
  .activeText{
  }

  .activeTag{
    left:0;
  }

  .inactiveTag{
    left:405px;
  }

}

#gameRow{
  // grid-template-columns: auto calc($cellSize*4) auto;
  // grid-template-rows: auto calc($cellSize*4) auto;
  // overflow:auto;
  max-height:100vh;
  min-height:1500px;
  min-width:2000px;
  max-width:100vw;
  background-color:#097327;
  background-image:url("https://fc00.deviantart.net/fs70/i/2012/309/f/9/tavern_bg_by_mrainbowwj-d5k1ezg.jpg");
  background-size:cover;
  position:relative;
  overflow:auto;


  #canvasContainer{
    position:relative;
    // margin:300px;
    // top: 0; left: 0; bottom: 0; right: 0;
    // margin:auto;

    // height: calc(#{$cellSize} * 4);
    // width:calc(#{$cellSize} * 4);
    // grid-column-start: 2;
    // grid-column-end: 3;
    // grid-row-start: 2;
    // grid-row-end: 3;
    cursor:pointer;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 25%, rgba(255,255,255,1) 75%);

  }

}

#handsContainer{
  position: absolute;
  left: calc(#{$cellSize} * 6.5 + 100px);
  height: calc(#{$cellSize} * 4);
  width: 750px;
  background-color: black;
  top: $cellSize;
  #playerZones{
    // position:absolute;
    // bottom:2vh; right:2vw;
    // width:25vw;
    // height:20vh;
    width:100%;
    height:25%;
    // min-height:$cellSize;
    // border:5px solid white;
    #playerDiscard{
      background-image:url("https://img.icons8.com/dusk/96/000000/poison.png"), url("https://res.cloudinary.com/metaverse/image/upload/v1567881015/UI/card_back_black.png");
      background-size: contain;
      background-repeat:no-repeat;
    }
    #playerDeck{
      background-image:url("https://res.cloudinary.com/metaverse/image/upload/v1567881015/UI/card_back_black.png");
      background-size: cover;
    }
    #playerCapture{
      background-image:url("https://cdn.pixabay.com/photo/2016/01/26/03/11/cage-1161869_960_720.png"), url("https://res.cloudinary.com/metaverse/image/upload/v1567881017/UI/card_back_purple.png") ;
      background-size: cover;
    }
  }
  #boardButtonZone{
    width:100%;
    height:50%;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items:center;
  }
  #enemyZones{
    // position:absolute;
    // width:25vw;
    // height:20vh;
    // top:2vh; right:2vw;
    width:100%;
    height:25%;
    // min-height:$cellSize;
    // border:5px solid red;
    #enemyDiscard{
      background-image:url("https://img.icons8.com/dusk/96/000000/poison.png"), url("https://res.cloudinary.com/metaverse/image/upload/v1567881017/UI/card_back_purple.png");
      background-size: contain;
      background-repeat:no-repeat;
    }
    #enemyDeck{
      background-image:url("https://res.cloudinary.com/metaverse/image/upload/v1567881017/UI/card_back_purple.png");
      background-size: cover;
    }
    #enemyCapture{
      background-image: url("https://cdn.pixabay.com/photo/2016/01/26/03/11/cage-1161869_960_720.png"), url("https://res.cloudinary.com/metaverse/image/upload/v1567881015/UI/card_back_black.png");
      background-size: cover;
      background-repeat:no-repeat;

    }
  }
}

#discoverLayer{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  display:flex;
  flex-wrap:wrap;
  overflow:auto;
  background-color:rgba(0, 0, 0, 0.6);
  z-index:5;
  .discoverCard{
    height:550px;
    width:450px;
    object-fit: fill;
    cursor:pointer;
  }
}

#deckbuilderScreen{
  position:fixed;
  top:0;
  left:0;
  height:100vh;
  width:100vw;
  background-color:black;
  z-index:10;
  #deckTitle{
    height:5%;
    font-size:2em;
    color:white;
  }
  #deckZone{
    height:35%;
    width:100%;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items:center;
  }
  // #filterZone{
  //   position:absolute;
  //   top:0;
  //   left:0;
  //   height:10%;
  //   width:25%;
  // }
  #collectTitle{
    height:5%;
    font-size:2em;
    color:white;
  }
  #collectionZone{
    border-top:20px solid grey;
    height:55%;
    width:100%;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items:center;
  }
}
#playerHandRow{
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
  align-items:center;
  width:100%;
  height:500px;
  transition: height 1.5s;
  transition-timing-function: ease-out;
  overflow:auto;
  background-image:url("https://res.cloudinary.com/metaverse/image/upload/v1533578530/Backgrounds/ep_naturalblack.png");
  background-size:cover;
  // .cardInHand{
  //   height:450px;
  //   width:350px;
  //   object-fit: fill;
  //
  // }
}

#discardZone{
  position:fixed;
  background-color:rgba(0, 0, 0, 0.4);
  top:0;
  left:0;
  height:100%;
  width:100%;
  display:flex;
  flex-wrap:wrap;
  overflow:auto;

  .discardedCard{
    height:550px;
    width:450px;
    object-fit: fill;
  }
}

#playerButtonsRow{
  width:100%;
  height:50px;
  display:flex;
  flex-wrap:wrap;
  background-color:black;
  align-items:center;
  align-content:center;
  justify-content: center;
}

#cardDisplay{
  position:absolute;
  top:10px;
  left:10px;
  #hoveredCard{
    max-height:650px;
    max-width:550px;
    object-fit: fill;
  }
}

#battleLog{
  position:absolute;
  left:10px;
  top:620px;
  height:650px;
  // width:500px;
  width:calc(#{$cellSize} * 2);
  border:5px solid black;
  display:flex;

  flex-direction:column;
  background-color:rgba(0, 0, 0, 0.6);
  overflow:auto;
  .adviceQuip{
    width:100%;
    height:100px;
    background-color:white;
    border:2px solid grey;
    flex-shrink:0;
    position:relative;
    .advicePortrait{
      background-size:100% 100%;
      border:2px solid grey;
      background-color:$darkBack;
      position:absolute;
      left:0;
      width:20%;
      height:100%;
    }
    .adviceText{
      background-color:$lightBack;
      position:absolute;
      right:0;
      width:80%;
      height:100%;
      animation-name:newAdviceQuip;
      animation-duration:2s;
    }
  }
}

#captureZone{
  position:fixed;
  background-color:rgba(0, 0, 0, 0.4);
  top:0;
  left:0;
  height:100%;
  width:100%;
  display:flex;
  flex-wrap:wrap;
  overflow:auto;
  .captiveCard{
    height:550px;
    width:450px;
    object-fit: fill;
  }
}

.waitingTab{
  animation-name:heyListen;
  animation-duration:2s;
  animation-iteration-count:infinite;
}

.hidden{
  height:0 !important;
  width:0 !important;
  overflow:hidden !important;
}

.phasedOut{
  opacity:0 !important;
  transition: opacity 1s;
}
.cardZone{
  cursor:pointer;
  background-color:grey;
  height:100%;
  width:100%;
}

.closeButton{
  opacity:0;
  position:absolute;
  top:1px;
  right:1px;
  height:150px;
  width:150px;
  background-color:grey;
  background-image:url("https://res.cloudinary.com/metaverse/image/upload/v1548289539/icons8-delete-48.png");
  background-size:contain;
  background-repeat:no-repeat;
  border:1px solid black;
  transition:opacity .5s;
  z-index:5;

}

.closableDiv:hover{
  .closeButton{
    opacity:1;
  }
}
.closeButton:hover{
  cursor:pointer;
}

#volumeAdjustScreen{
  position:fixed;
  height:100vh;
  width:100vw;
  background-color:rgba(0, 0, 0, 0.6);
  z-index:5;

  #volumeSettings{
    position:absolute;
    top:20vh;
    height:60vh;
    left:30vw;
    width:40vw;
    background-color:white;
    border: 3px solid black;
    #volumeHeader{
      height:10%;
      border: 3px solid pink;
    }
    .audioRow{
      height:30%;
      border: 3px solid brown;
    }
  }
}
/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

.cardInHand{
  height:450px;
  width:350px;
  object-fit: fill;
  cursor:grab;
}
.cardInHand:active{
  cursor:grabbing;
}

.hoverFlow{
  overflow:hidden;
}

.hoverFlow:hover{
  overflow:auto;
}

.hFlip{
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
